// Core variables and mixins
@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';

@move-hover-color: #888888;
@move-border-radius: 4px;

body {
	padding-top:50px;
}

.code-mono {
	font-family: "Lucida Console", Monaco, monospace;
}

.code-sm {
	font-size: 0.7em;
}

@keyframes codechange {
	10% {background-color: #dddddd;}
	50% {background-color: #ddffdd;}
	100% {background-color: #dddddd;}
}

.code-change.ng-animate {
	animation-name: codechange;
	animation-duration: 1s;
	animation-iteration-count: 2;
}

.ltw-builder-tools {
	position: relative;
	.ltw-tool-form-update {
		position: absolute;
		top: -5px;
		left: 0;
		z-index: 4;
		width:100%;
		height: 0;
		.opacity(0.3);
	}
	&:hover .ltw-tool-form-update {
		.opacity(1);
	}

	.ltw-builder-tools-field {
		position: relative;
		.ltw-tool-field-update {
			position: absolute;
			top: -5px;
			left: 0;
			.opacity(0);
			z-index: 2;
			width: 100%;
			height: 0;
			padding-left: 10px;
		}
	}
	&:hover .ltw-builder-tools-field {
		.ltw-tool-field-update {
			.opacity(0.3);
		}
		&:hover .ltw-tool-field-update {
			.opacity(1);
			z-index: 10;
		}
	}

	.btn {
		&.btn-tool {
			border-radius: @btn-border-radius-base;
			&.btn-sm, &.btn-xs {
				border-radius: @btn-border-radius-small;
			}
		}
	}

	.ltw-builder-tools-multi-cell-row {
		/* .move-hover::before {
			content: ' ';
			background-color: green;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			margin-top: -4px;
			padding: 24px;
		} */
		// .move-hover::after {
		// 	content: ' ';
		// 	background-color: red;
		// 	width: 100%;
		// 	height: 100%;
		// 	margin-bottom: 15px;
		// }
	}

	.move-hover {
		position: absolute;
		left: 0;
		top: 0;
		// bottom: -14px;
		// background-color: #aaaaaa;
		width: 100%;
		height: 100%;
		z-index: 8;
		.opacity(0.5);
		display: none;
		&::before {
			content: ' ';
			background-color: @move-hover-color;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			margin-top: -4px;
			border-radius: @move-border-radius @move-border-radius 0 0;
			//padding: 24px;
		}
		&::after {
			content: ' ';
			background-color: @move-hover-color;
			width: 100%;
			height: 8px;
			position: absolute;
			bottom: -4px;
			left: 0;
			margin-top: -4px;
			border-radius: 0 0 @move-border-radius @move-border-radius;
		}
	}

	.on-drag-hover {
		.move-hover {
			display: block;
		}
		&.move-between-cells {
			.opacity(0.8);
		}
	}


	// Move Between Cells and Rows - may use later
	/* .move-between-cells {
		position: absolute;
		top: 0;
		right: -15px;
		height: 100%;
		width: 30px;
		background-color: @move-hover-color;
		// .opacity(0.2);
		// z-index: 1;
		// display: none;
	}

	.move-between-rows-wrapper {
		position: relative;
		height: @form-group-margin-bottom + 10px;
		display: block;
		background-color: #dda;
		margin: -(@form-group-margin-bottom + 5) 0 -5px 0;
		.opacity(0.8);
		z-index: 10;
		padding-top: floor((@form-group-margin-bottom + 10px)/2);

		.move-between-rows {
			background-color: #000;
			height: 1px;
			// position: absolute;
			// width: 100%;
			// top: -15px;
			// height: 15px;
			// background-color: #add;
			// z-index: 10;
			// .opacity(0.5);
		}

		&:hover {
			background-color: #CCC;
			height: @form-group-margin-bottom + 20px;
			margin: -(@form-group-margin-bottom + 5) 0 -5px 0;
			.move-between-rows {
				background-color: #000;
				height: 10px;
				border-radius: 4px;
			}

			// height: 15px;
			// margin-bottom: 5px;
			// .move-between-rows {
			// 	height: 35px;
			// }
		}
	}

	.on-drag-active {
		&.move-between-cells {
			.opacity(0.5);
			z-index: 10;
			// display: block;
		}
	} */
	// Move Between Cells and Rows - END

	// .edit-tool-left { float: left; margin-right: 5px; }
	// .edit-tool-right { float: right; margin-left: 5px; }
}

// .pull-right {
// 	&.pull-right-pad { margin-left: 5px; }
// }

.show-on-active-inline-block {
	display: none;
}

.active {
	&.show-on-active-inline-block, & .show-on-active-inline-block {
		display: inline-block;
	}
}

input {
	&.ng-invalid.ng-dirty {
		border-color: @state-danger-text;
	}
}

.pre-code {
	white-space: pre-wrap;
}

.resize {
	&-none {
		resize: none;
	}
	&-vertical {
		resize: vertical;
	}
	&-horizontal {
		resize: horizontal;
	}
}

.lt-spinner {
	width: 100px;
	height: 100px;
	animation: spinner 1s linear infinite;
	img {
		width: 100%;
	}
}

@keyframes spinner {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.modal-header {
	&.alert {
		margin-bottom:0;
		.border-bottom-radius(0);
	}
}

.modal-processing {
	padding: 20px 10px;
	margin-bottom:100px;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	h3 {
		margin: 5px 0;
		font-size: @font-size-h4
	}
	img {
		width: 64px;
		padding-right:20px;
	}
}

@media (min-width: @screen-sm-min) {
	.modal-processing {
		padding: 40px;
		h3 {
			font-size: @font-size-h3;
		}
	}
}


/////////////
// Angular //
/////////////

.ng-hide {
	display: none;
}
