// Core variables and mixins
@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';

body {
	padding-top:50px;
}

.code-mono {
	font-family: "Lucida Console", Monaco, monospace;
}

.code-sm {
	font-size: 0.7em;
}

@keyframes example {
	10% {background-color: #dddddd;}
	50% {background-color: #ddffdd;}
	100% {background-color: #dddddd;}
}

.code-change.ng-animate {
	animation-name: example;
	animation-duration: 1s;
	animation-iteration-count: 2;
}

.ltw-tool-form-update { position: absolute; top: -5px; right: 0;}
.ltw-builder-tools {
	position: relative;
	.ltw-tool-form-update { opacity: 0.3; z-index: 2; }
	&:hover .ltw-tool-form-update { opacity: 1; }
	.btn {
		&.btn-tool {
			border-radius: @btn-border-radius-base;
			&.btn-sm, &.btn-xs { border-radius: @btn-border-radius-small; }
		}
	}
}

.show-on-active-inline-block {
	display: none;
}

.active {
	&.show-on-active-inline-block, & .show-on-active-inline-block {
		display: inline-block;
	}
}

input {
	&.ng-invalid.ng-dirty {
		border-color: @state-danger-text;
	}
}
