			<!-- template/modal/editRepeatField.html -->
			<form class="form-horizontal" data-ng-submit="saveWidget();" data-ng-init="ft = fieldOptions.fieldTemplate">
				<div class="modal-header modal-header-alert alert alert-info">
					<h3 class="modal-title">Edit Widget Data Field</h3>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-sm-12">
							<div class="pull-right">
								<button class="btn btn-default btn-xs" type="button" data-ng-click="editDataForm();"><span class="glyphicon glyphicon-edit"></span> Edit</button>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- <pre class="pre-code">{{modField}}</pre> -->
						<div class="col-sm-4">
							<div class="panel panel-default">
								<div class="panel-heading" data-ng-click="isCollapsedAvailableRepeatDataFields = !isCollapsedAvailableRepeatDataFields">
									<h3 class="panel-title">Fields<span class="glyphicon pull-right" data-ng-class="isCollapsedAvailableRepeatDataFields &amp;&amp; 'glyphicon-chevron-right' || 'glyphicon-chevron-down'"></span></h3>
								</div>
								<div data-uib-collapse="isCollapsedAvailableRepeatDataFields">
									<div class="panel-body">
										<div class="list-group m-b-0">
											<div class="list-group-item" data-ng-repeat="rdField in allRepeatDataFieldsOptionsArray | filter: FilterAvailableDataFields | orderBy: ['allowMultiples']">
												<div class="pull-right">
													<span class="small text-danger" data-ng-show="!!rdField.isLTRequired &amp;&amp; !rdField.isIncluded">Required &nbsp; </span>
													<span class="small" data-ng-show="!rdField.allowMultiples &amp;&amp; !!rdField.isIncluded">Can only add once</span>
													<a href="" class="btn btn-default btn-xs btn-tool repeat-channel" data-jqyoui-draggable="{onStart:'onDragStart({field:\'{{rdField.id}}\'})'}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-drag="true" data-ng-show="showAddBtns = rdField.allowMultiples || !rdField.isIncluded"><span class="glyphicon glyphicon-move"></span></a>
													<!-- <pre class="pre-code">{{rdField}}</pre> -->
													<button class="btn btn-default btn-xs" type="button" data-ng-click="addField(rdField.id);" data-ng-show="showAddBtns"><span class="glyphicon glyphicon-plus"></span></button>
												</div>
												<span data-ng-bind="rdField.name"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<style type="text/css">{{previewDataFieldStyles}}</style>
							<div class="ltw ltw-repeatpreview ltw-builder-tools" data-lt-compile-code="repeatFormDisplay"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm btn-primary" type="submit">Save</button>
					<button class="btn btn-sm btn-default" data-ng-click="cancelClick();">Cancel</button>
				</div>
			</form>
