			<div class="pull-right">
				<a class="btn btn-default btn-xs btn-tool drag-handle" data-ui-draggableX="true" data-drag-channelX="A" data-dragX="{{::toolInfo.index}}"><span class="glyphicon glyphicon-move drag-handle"></span></a>
				<button type="button" class="btn btn-default btn-xs btn-tool" data-ng-click="EditWidgetField();"><span class="glyphicon glyphicon-pencil"></span></button>
				<button type="button" class="btn btn-danger btn-xs btn-tool ng-hide" data-ng-click="RemoveWidgetField();" data-ng-show="showRemove"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
			<!-- <ng-transclude></ng-transclude> -->