@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
html.html-footer-sticky {
  position: relative;
  min-height: 100%;
}
html.html-footer-sticky body {
  margin-bottom: 100px;
}
html.html-footer-sticky body .footer-sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 0;
}
.page-head {
  border-bottom: 4px solid #e7e7e7;
}
.page-head > .page-head-menu .navbar {
  margin-bottom: 0;
}
.footer {
  height: 100px;
  border-top: 1px solid #eee;
  padding-top: 0.8em;
  font-size: 0.8em;
}
.footer-inverse {
  color: #eeeeee;
  border-top: none;
  background-color: #132345;
}
.footer-inverse a {
  color: #a4b9e6;
}
.footer-inverse a:hover {
  color: #7c9adb;
}
.page-head-inverse {
  border-bottom: 4px solid #132345;
}
.page-head-top {
  color: #777777;
  background-color: #fff;
}
.page-head-top .page-logo {
  float: left;
}
.page-head-top .navbar-toggle {
  font-size: 18px;
  margin: 8px 3px 0 13px;
}
.page-head-top .top-menu {
  float: left;
}
.page-head-top .top-menu .nav > li > a {
  color: #777777;
  background-color: transparent;
}
.page-head-top .top-menu .nav > li > a:hover,
.page-head-top .top-menu .nav > li > a:focus,
.page-head-top .top-menu .nav > li > a:active {
  color: #555555;
}
.page-head-menu > .navbar-collapse {
  padding: 0;
}
.logo-lt {
  margin-top: 4px;
  max-height: 46px;
}
.dropdown .dropdown-menu {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}
.dropdown.dropdown-bubble .dropdown-menu {
  position: absolute;
  float: left;
  margin-top: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}
.dropdown.dropdown-bubble .dropdown-menu > li > a {
  padding: 3px 20px;
}
.dropdown.dropdown-bubble .dropdown-menu:before,
.dropdown.dropdown-bubble .dropdown-menu:after {
  position: absolute;
  display: inline-block;
  content: '';
}
.dropdown.dropdown-bubble .dropdown-menu:before {
  top: -8px;
  left: 9px;
  right: auto;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.15);
  border-left: 8px solid transparent;
}
.dropdown.dropdown-bubble .dropdown-menu:after {
  top: -7px;
  left: 10px;
  right: auto;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
}
.dropdown.dropdown-bubble .dropdown-menu-right:before {
  right: 9px;
  left: auto;
}
.dropdown.dropdown-bubble .dropdown-menu-right:after {
  right: 10px;
  left: auto;
}
.dropdown.dropdown-bubble .dropdown-menu-inverse:before {
  border-bottom-color: #1E376D;
}
.dropdown.dropdown-bubble .dropdown-menu-inverse:after {
  border-bottom-color: #132345;
}
.dropdown.dropdown-menu-inverse.dropdown-menu,
.dropdown .dropdown-menu-inverse.dropdown-menu,
.dropdown.dropdown-menu-inverse .dropdown-menu,
.dropdown .dropdown-menu-inverse .dropdown-menu {
  color: #eeeeee;
  background-color: #132345;
  border-color: #1E376D;
}
.dropdown.dropdown-menu-inverse.dropdown-menu > li > a,
.dropdown .dropdown-menu-inverse.dropdown-menu > li > a,
.dropdown.dropdown-menu-inverse .dropdown-menu > li > a,
.dropdown .dropdown-menu-inverse .dropdown-menu > li > a {
  color: #eeeeee;
}
.dropdown.dropdown-menu-inverse.dropdown-menu > li > a:hover,
.dropdown .dropdown-menu-inverse.dropdown-menu > li > a:hover,
.dropdown.dropdown-menu-inverse .dropdown-menu > li > a:hover,
.dropdown .dropdown-menu-inverse .dropdown-menu > li > a:hover,
.dropdown.dropdown-menu-inverse.dropdown-menu > li > a:focus,
.dropdown .dropdown-menu-inverse.dropdown-menu > li > a:focus,
.dropdown.dropdown-menu-inverse .dropdown-menu > li > a:focus,
.dropdown .dropdown-menu-inverse .dropdown-menu > li > a:focus {
  background-color: #1E376D;
}
.dropdown-fade.dropdown > .dropdown-menu,
.dropdown-fade .dropdown > .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.dropdown-fade.dropdown.open > .dropdown-menu,
.dropdown-fade .dropdown.open > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
.si-pad [class*=" icon-"],
.si-pad [class^="icon-"] {
  width: 15px;
  margin: 0 4px 0 0;
  display: inline-block;
}
.m-b-0 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .page-head {
    border-bottom: none;
  }
  .page-head-top {
    min-height: 75px;
  }
  .page-head-top .page-logo {
    min-height: 75px;
  }
  .page-head-top .top-menu {
    margin-top: 13px;
  }
  .page-head-top .logo-lt {
    margin-top: 4px;
    max-height: 66px;
  }
  .dropdown-sm-fade.dropdown > .dropdown-menu,
  .dropdown-sm-fade .dropdown > .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .dropdown-sm-fade.dropdown.open > .dropdown-menu,
  .dropdown-sm-fade .dropdown.open > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .dropdown-sm-fade.dropdown > .dropdown-menu,
  .dropdown-sm-fade .dropdown > .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .dropdown-sm-fade.dropdown.open > .dropdown-menu,
  .dropdown-sm-fade .dropdown.open > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .dropdown-hover-to-open.dropdown:hover .dropdown-menu,
  .dropdown-hover-to-open .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-hover-to-open.dropdown-fade.dropdown:hover .dropdown-menu,
  .dropdown-hover-to-open .dropdown-fade.dropdown:hover .dropdown-menu,
  .dropdown-hover-to-open.dropdown-sm-fade.dropdown:hover .dropdown-menu,
  .dropdown-hover-to-open .dropdown-sm-fade.dropdown:hover .dropdown-menu,
  .dropdown-hover-to-open.dropdown-fade .dropdown:hover .dropdown-menu,
  .dropdown-hover-to-open .dropdown-fade .dropdown:hover .dropdown-menu,
  .dropdown-hover-to-open.dropdown-sm-fade .dropdown:hover .dropdown-menu,
  .dropdown-hover-to-open .dropdown-sm-fade .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .footer {
    padding-top: 1em;
    font-size: 1em;
  }
}
