/**
 * LoanTek Widget
 *
 * IMPORTANT!!!
 * You must first compile widget-bootstrap.less first before compiling this file
 * Also, after widget-bootstrap.less is compiled, you must @import using the non-minified version
 *
 */

// Core variables and mixins
@import '../../../Content/less/bootstrap/variables.less';
@import '../../../Content/less/bootstrap/mixins.less';

.ltw {
	display: block;
	font-family: @font-family-base;
	font-size: @font-size-base;
	@import (less) url('widget-bootstrap.css');
	@import (less) url('../../../Content/lib/datatables/dataTables.bootstrap.min.css');
	/*@import 'captcha.less';*/

	button[type=submit]:disabled {
		background:url('/Content/images/input-spinner.gif') no-repeat center center;
	}

	.placeholder-text { color: @input-color-placeholder; }

	.visible-on-hover {
		.opacity(0);
		&:hover {
			.opacity(1);
		}
	}

	// Using FontAwesome sorting icons instead of bootstraps
	table {
		&.dataTable {
			thead {
				.sorting, .sorting_asc, .sorting_desc {
					&::after {
						font-family: 'FontAwesome';
					}
				}

				.sorting::after {
					content: '\f0dc';
				}

				.sorting_asc::after {
					content: '\f0de';
				}

				.sorting_desc::after {
					content: '\f0dd';
				}
			}
		}
	}
}
